.jumbotron {
    text-align: center;
    background-color: rgb(33, 33, 124);
    color: white;
    margin-left: 55px;
    margin-right: 55px;
    
}
#card-color {
    background-color:rgb(33, 33, 124);
    height: 60px;
}

#text {
    color: white;
    font-size: 20px;
}

.container {
    padding-bottom: 20px;
}

.buttons {
    border-color: rgb(33, 33, 124);
    color: white;
    background-color: rgb(33, 33, 124);

}

.btn:hover {
    background-color: rgb(70, 70, 146);
    color: white;

}

